<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h3 class="title-big">Günün Favori İlanları</h3>
            </div>
            <div class="row pt-md-5 pt-4">
                <div class="col-lg-4 col-md-6">
                    <a href="property-single.html">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="~/starter/assets/images/p1.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">$25,00,000</h3>
                                <span class="post">51 Merrick Way, Coral Gables, USA</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <a href="property-single.html">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="~/starter/assets/images/Villa1.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">$37,00,000</h3>
                                <span class="post">51 Merrick Way, Coral Gables, USA</span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 pt-lg-0 mt-4 pt-md-2">
                    <a href="property-single.html">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="~/starter/assets/images/p3.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">$41,00,000</h3>
                                <span class="post">51 Merrick Way, Coral Gables, USA</span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-md-2">
                    <a href="property-single.html">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="~/starter/assets/images/p4.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">$19,00,000</h3>
                                <span class="post">51 Merrick Way, Coral Gables, USA</span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-md-2">
                    <a href="property-single.html">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="~/starter/assets/images/p5.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">$26,00,000</h3>
                                <span class="post">51 Merrick Way, Coral Gables, USA</span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 pt-md-2">
                    <a href="property-single.html">
                        <div class="box16">
                            <div class="rentext-listing-category"><span>Buy</span><span>Rent</span></div>
                            <img class="img-fluid" src="~/starter/assets/images/p6.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">$34,00,000</h3>
                                <span class="post">51 Merrick Way, Coral Gables, USA</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>