@model UpdateEmployeeDto

@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Personel Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="EmployeeID" />
                    <label>Personel Adı</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <br />
                    <label>Personel Unvanı</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />
                    <label>Personel Mail Adresi</label>
                    <input type="email" asp-for="Mail" class="form-control" />
                    <br />
                    <label>Personel Telefon</label>
                    <input type="tel" asp-for="PhoneNumber" class="form-control" />
                    <br />
                    <label>Personel Fotoğraf</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Personeli Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

