@model List<RealEstate_Dapper_UI.Dtos.MessageDtos.ResultInBoxMessageDto>

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-envelope me-lg-2"></i>
        <span class="d-none d-lg-inline-flex">Mesajlar</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">

        @foreach (var item in Model)
        {
            <a href="#" class="dropdown-item">
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="@item.UserImageUrl" alt="" style="width: 40px; height: 40px;">
                    <div class="ms-2">
                        <h6 class="fw-normal mb-0">@item.Name bir mesaj gönderdi.</h6>
                        <small>@(((DateTime)item.SendDate).ToString("dd-MMM-yyyy"))</small>
                    </div>
                </div>
            </a>
            <hr class="dropdown-divider">
        }


        <a href="#" class="dropdown-item text-center">Tüm Mesajları Gör</a>
    </div>
</div>