
@{
    Layout = null;
}

@* Estate Agent Layout Paneli*@
 
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">

        @await Component.InvokeAsync("_AdminLayoutSpinnerComponentPartial")

        @await Component.InvokeAsync("_EstateAgentLayoutSidebarComponentPartial")

        <div class="content">

            @await Component.InvokeAsync("_EstateAgentNavbarComponentPartial")

            @RenderBody()

            @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")

        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")

</body>
</html>