<section class="w3l-companies-hny-6 py-5">
    <!-- /grids -->
    <div class="container py-md-3">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 column">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="~/starter/assets/images/client1.png" alt="client"> </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="~/starter/assets/images/client2.png" alt="client"> </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-md-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="~/starter/assets/images/client3.png" alt="client"> </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-lg-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="~/starter/assets/images/client4.png" alt="client"> </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-lg-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="~/starter/assets/images/client5.png" alt="client"> </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-lg-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="~/starter/assets/images/client6.png" alt="client"> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //grids -->
</section>