
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_HeadarViewComponentPartial")
<body>

    <!--header-->
    @await Component.InvokeAsync("_NavbarViewComponentPartial")
    <!--/header-->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
            <div class="container pt-lg-5 py-3">
            </div>
        </div>
    </section>
   
    <!-- contacts -->
   @RenderBody()
    <!-- //contacts -->
    <!-- footers 20 -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    <!-- jQuery and Bootstrap JS -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>

</html>