<section class="w3l-cover-3">
	<div class="cover top-bottom">
		<div class="container">
			<div class="middle-section text-center">
				<div class="section-width">
					<p>Hayalinizdeki Eve Sahip Olun!</p>
					<h2>Bugün Sizin İçin Doğru Evi Bulalım</h2>
					<div class="most-searches">
						<h4>Sık Arananlar</h4>
						<ul>
							<li><a href="#link">Villa</a></li>
							<li><a href="#link">Daire</a></li>
							<li><a href="#link">Yazlık</a></li>
						</ul>
					</div>
					<form action="#" class="w3l-cover-3-gd" method="GET">
						<input type="search" name="text" placeholder="Anahtar kelimeyi girin" required>
						<span class="input-group-btn">
							<select class="btn btn-default" name="ext" required>
								<option selected="">Gayrimenkul Türü</option>
								<option>Villa</option>
								<option>Apartment</option>
								<option>Private house</option>
								<option>Building</option>
								<option>Shop</option>
								<option>Social housing</option>
								<option>Town house</option>
							</select>
						</span>
						<span class="input-group-btn">
							<select class="btn btn-default" name="ext" required>
								<option selected="">Ülke Seçiniz</option>
								<option>Australia</option>
								<option>London</option>
								<option>India</option>
								<option>Bangladesh</option>
								<option>Saudi Arabia</option>
								<option>America</option>
								<option>Srilanka</option>
							</select>
						</span>
						<button type="submit" class="btn-primary">Ara</button>
					</form>
				</div>
				<section id="bottom" class="demo">
					<a href="#bottom"><span></span>İlan Listesi</a>
				</section>
			</div>
		</div>
	</div>
</section>