@model List<ResultEstateAgentDashboardChartDto>

<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
        .chart-container {
            display: flex;
            justify-content: space-around;
            margin-top: 20px; /* Added for spacing */
        }
    </style>
</head>
<body>

    <div class="chart-container">
        <canvas id="myChart" style="max-width: 500px"></canvas>
        <canvas id="myChart1" style="max-width: 500px"></canvas>
    </div>

    <script>
        var xValuesChart1 = @Html.Raw(Json.Serialize(Model.Select(item => item.City)));
        var yValuesChart1 = @Html.Raw(Json.Serialize(Model.Select(item => item.CityCount)));
        var barColorsChart1 = ["rgb(106, 212, 221)", "rgb(127, 199, 217)", "rgb(54, 84, 134)", "rgb(134, 182, 246)", "rgb(0, 141, 218)"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValuesChart1,
                datasets: [{
                    backgroundColor: barColorsChart1,
                    data: yValuesChart1
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Şehir - İlan İstatistiği"
                }
            }
        });

        var xValuesChart2 = @Html.Raw(Json.Serialize(Model.Select(item => item.City)));
        var yValuesChart2 = @Html.Raw(Json.Serialize(Model.Select(item => item.CityCount)));
        var barColorsChart2 = ["rgb(106, 212, 221)", "rgb(127, 199, 217)", "rgb(54, 84, 134)", "rgb(134, 182, 246)", "rgb(0, 141, 218)"];

        new Chart("myChart1", {
            type: "bar",
            data: {
                labels: xValuesChart2,
                datasets: [{
                    backgroundColor: barColorsChart2,
                    data: yValuesChart2
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Şehir - İlan İstatistiği"
                }
            }
        });
    </script>

</body>
</html>
